header,
main {
    background-color: #EEEFF1;
}


.container {

    max-width: 100%;

}

.navigation-bar {
    display: grid;
    height: 10vh;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
    justify-items: center;
}


.menunav-1,
.menunav-2,
.menunav-3,
.menunav-4,
.menunav-5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #000000;
    padding: 5px;

}

.logo {
    grid-column: 2/3;
    max-width: 100%;

}


.menunav-1 {
    grid-column: 5/6;

}

.menunav-2 {
    grid-column: 6/7;

}

.menunav-3 {
    grid-column: 7/8;

}

.menunav-4 {
    grid-column: 8/9;

}

.menunav-5 {
    grid-column: 9/10;

}


.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    justify-items: start;

}

.head {
    grid-column: 3/4;
    grid-row: 2/3;


}

.logo-2 {
    grid-column: 2/3;
    grid-row: 2/5;
    max-width: 100%;
}

.content-1 {
    grid-column: 3/4;
    grid-row: 3/4;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #727272;
}



#button {
    grid-column: 3/4;
    grid-row: 4/5;
    width: 225px;
    height: 65px;
    left: 975px;
    top: 482px;


    background: #34547A;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;

}


.part-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

.head-2 {
    grid-column: 3/5;
    grid-row: 1/2;

}

.content-2 {
    grid-column: 3/5;
    grid-row: 2/3;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;

}

.foot {
    display: grid;
    height: 10vh;
    background: #34547A;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
    justify-items: center;
}

.footer-item-1 {
    grid-column: 3/4;

}

.footer-item-2 {
    grid-column: 5/6;

}

.footer-item-3 {
    grid-column: 7/8;

}

.footer-item-4 {
    grid-column: 9/10;

}








@media (max-width:757px) {


    .foot {
        display: none;
    }

    .navigation-bar {
        height: 10vh;
    }


    .box {
        display: grid;
        height: 80vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        justify-items: start;
        align-items: center
    }
    

    #button {
        height: 8vh;

    }

    .part-2 {
        display: grid;
        height: 30vh;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: center;
    }



}